/* title */

.title-xsm {
    font-size: 0.6rem;
}

.title-sm {
    font-size: 0.8rem;
}

.title-md {
    font-size: 1rem;
}

.title-lg {
    font-size: 1.2rem;
}

.title-xl {
    font-size: 1.4rem;
}

.title-xxl {
    font-size: 1.6rem;
}

/*  title with font weight */

.title-xsm-wt-3,
.title-sm-wt-3,
.title-md-wt-3,
.title-lg-wt-3,
.title-xl-wt-3,
.title-xxl-wt-3 {
    font-weight: 300;
}

.title-xsm-wt-4,
.title-sm-wt-4,
.title-md-wt-4,
.title-lg-wt-4,
.title-xl-wt-4,
.title-xxl-wt-4 {
    font-weight: 400;
}

.title-xsm-wt-5,
.title-sm-wt-5,
.title-md-wt-5,
.title-lg-wt-5,
.title-xl-wt-5,
.title-xxl-wt-5 {
    font-weight: 500;
}

.title-xsm-wt-bold,
.title-sm-wt-bold,
.title-md-wt-bold,
.title-lg-wt-bold,
.title-xl-wt-bold,
.title-xxl-wt-bold {
    font-weight: bold;
}

.title-xsm-wt-3,
.title-xsm-wt-4,
.title-xsm-wt-5,
.title-xsm-wt-bold{
    font-size: 0.6rem;
}

.title-sm-wt-3,
.title-sm-wt-4,
.title-sm-wt-5,
.title-sm-wt-bold{
    font-size: 0.8rem;
}

.title-md-wt-3,
.title-md-wt-4,
.title-md-wt-5,
.title-md-wt-bold{
    font-size: 1rem;
}

.title-lg-wt-3,
.title-lg-wt-4,
.title-lg-wt-5,
.title-lg-wt-bold{
    font-size: 1.2rem;
}

.title-xl-wt-3,
.title-xl-wt-4,
.title-xl-wt-5,
.title-xl-wt-bold{
    font-size: 1.4rem;
}

.title-xxl-wt-3,
.title-xxl-wt-4,
.title-xxl-wt-5,
.title-xxl-wt-bold{
    font-size: 1.6rem;
}

/* Paragraph text */

.p-sm {
    font-size: 0.6rem;
}

.p-md {
    font-size: 0.8rem;
}

.p-lg {
    font-size: 1rem;
}

.p-xl {
    font-size: 1.2rem;
}

.p-xxl {
    font-size: 1.4rem;
}

/* text link */

a {
    text-decoration: none;
}

/* font weight */

.font-wt-3 {
    font-weight: 300;
}

.font-wt-4 {
    font-weight: 400;
}

.font-wt-5 {
    font-weight: 500;
}

/* headings */

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18.72px;
}

h4{
    font-size: 16px;
}

h5{
    font-size: 13.28px;
}

h6{
    font-size: 12px;
}

/* text align */

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

/* text color */

.text-white {
    color: var(--text-white);
}

.text-lighter {
    color: var(--text-lighter);
}

.text-light {
    color: var(--text-light);
}

.text-dark {
    color: var(--text-dark);
}

.text-success {
    color: var(--success-text);
}

.text-info {
    color: var(--info-text);
}

.text-warning {
    color: var(--warning-text);
}

.text-error {
    color: var(--error-text);
}