/* main container */

.main-container {
    max-width: 66rem;
}

/* nav containers */

.nav-container {
    width: 14rem;
}

.nav-container-sm {
    width: 10rem;
}

/* other containers */

.container-sm {
    max-width: 28rem;
    display: flex;
    flex-wrap: wrap;
}

.container-md {
    max-width: 44rem;
    display: flex;
    flex-wrap: wrap;
}

.container-lg {
    max-width: 62rem;
    display: flex;
    flex-wrap: wrap;
}

/* component container */

.component-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
}

/* container shadow */

.cont-shadow {
    box-shadow: 0 0 10px var(--btn-hover);
}

/* button container */

.alert-container,
.avatar-container,
.button-container,
.icon-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.alert-container,
.avatar-container {
    justify-content: space-around;
}