.grid-col-5050,
.grid-col-3070,
.grid-col-7030,
.grid-col-2080,
.grid-col-8020 {
    display: grid;
}

.grid-col-5050 {
    grid-template-columns: 50% 50%;
}

.grid-col-2080 {
    grid-template-columns: 20% 80%;
}

.grid-col-8020 {
    grid-template-columns: 80% 20%;
}

.grid-col-3070 {
    grid-template-columns: 30% 70%;
}

.grid-col-7030 {
    grid-template-columns: 70% 30%;
}