@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

@import "./components/alerts/alert.css";
@import "./components/buttons/button.css";
@import "./components/avatar/avatar.css";
@import "./components/badge/badge.css";
@import "./components/image/image.css";
@import "./components/card/card.css";

@import "./components/common_css/containers.css";
@import "./components/common_css/margins.css";
@import "./components/common_css/paddings.css";
@import "./components/common_css/flex.css";
@import "./components/common_css/text.css";
@import "./components/common_css/icons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-light-color: #93cceb;
    --primary-color: #0f96df;
    --primary-dark-color: #1b6993;
    --primary-bg: #fff;

    --faint-gray: #f1f5f7;
    --light-gray: #e8f0f2;
    --medium-blue-gray: #b2c2d1;
    --dark-blue-gray: #92a9bd;

    --text-white: #fff;
    --text-lighter: rgb(175, 175, 175);
    --text-light: #777;
    --text-dark: #333;
    --text-red-dark:#ca3535;
    --text-red-light:#fea8a8;


    --success-bg: #e8fcf1;
    --success-text: #027e38;

    --info-bg: #e6f7ff;
    --info-text: #446fcb;

    --warning-bg: #fefbe6;
    --warning-text: hsl(40, 84%, 40%);

    --error-bg: #fef2f1;
    --error-text: #ca3535;

    --btn-hover: rgba(153, 153, 153, 0.2);
}

.border-round-4p {
    border-radius: 4px;
}

/* sub title */

.sub-title,
.navHead {
    display: flex;
    align-items: center;
}

/* hide all */

.hide {
    display: none;
}

/* btn text black */

.dark-text-btn{
    color: var(--text-dark);
}