@import "./Components/components.css";

.wrapper-landing-page {
    position: fixed;
    width: 100%;
    padding: 2rem;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrapper-landing-page>h1 {
    font-size: 3rem;
    font-weight: 500;
}

.wrapper-landing-page>p {
    font-size: 1.17rem;
}

@media screen and (max-width:760px) {
    .wrapper-landing-page>h1 {
        font-size: 1.9rem;
        font-weight: 500;
    }
    
    .wrapper-landing-page>p {
        font-size: 1rem;
    }
}