* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: grid;
    grid-template-areas:
        "navHead navHead navHead"
        "nav body body"
        "... body body";
}

/* horizontal nav bar */

.logo {
    color: var(--primary-color);
}

.navHead {
    grid-area: navHead;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    font-weight: bold;
    background-color: var(--primary-bg);
    box-shadow: 0 0 8px var(--medium-blue-gray);
}

/* vertical nav bar */

nav {
    position: sticky;
    top: 5rem;
    grid-area: nav;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav::-webkit-scrollbar {
    display: none;
}

nav .title-lg {
    font-weight: 500;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

/* body */

.main {
    grid-area: body;
}

#alert,
#buttons,
#avatar,
#badge {
    scroll-margin-block: 4.5rem;
}