.btn {   
    margin: 0.4rem 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    display: inline-block;
    text-decoration: none;
}

.primary-btn-md,
.primary-outline-btn-md,
.primary-text-btn-md,
.label-icon-btn-md,
.label-icon-outline-btn-md,
.secondary-btn-md,
.secondary-text-btn-md,
.secondary-outline-btn-md,
.disabled-btn-md,
.floating-btn-md{
    padding: 0.5rem 0.8rem;
}


.primary-btn-md,
.primary-btn-xsm,
.primary-btn-sm,
.primary-btn-lg,
.label-icon-btn-md,
.label-icon-btn-xsm,
.label-icon-btn-sm,
.label-icon-btn-lg,
.floating-btn-xsm,
.floating-btn-sm,
.floating-btn-md,
.floating-btn-lg,
.floating-btn-xl,
.floating-btn-xxl,
.flating-btn-sm {
    background-color: var(--primary-color);
    color: var(--text-white);
}


.primary-text-btn-md,
.primary-text-btn-xsm,
.primary-text-btn-sm,
.primary-text-btn-lg,
.icon-btn-xsm,
.icon-btn-sm,
.icon-btn-md,
.icon-btn-lg,
.icon-btn-xl,
.icon-btn-xxl {
    background: none;
    border: none;
    color: var(--primary-color);
}

.primary-outline-btn-md,
.primary-outline-btn-xsm,
.primary-outline-btn-sm,
.primary-outline-btn-lg,
.label-icon-outline-btn-md,
.label-icon-outline-btn-xsm,
.label-icon-outline-btn-sm,
.label-icon-outline-btn-lg {
    color: var(--primary-color);
    background-color: var(--primary-bg);
    outline: 1px solid var(--primary-color);
}

.secondary-btn-md,
.secondary-btn-xsm,
.secondary-btn-sm,
.secondary-btn-lg {
    color: var(--text-light);
    background-color: var(--faint-gray);
}

.disabled-btn-md,
.disabled-btn-xsm,
.disabled-btn-sm,
.disabled-btn-lg {
    color: var(--text-lighter);
    background-color: var(--faint-gray);
    pointer-events: none;
}

.secondary-outline-btn-md,
.secondary-outline-btn-xsm,
.secondary-outline-btn-sm,
.secondary-outline-btn-lg {
    outline: 1px solid var(--text-light);
    color: var(--text-light);
    background-color: var(--primary-bg);
}

.secondary-text-btn-md,
.secondary-text-btn-xsm,
.secondary-text-btn-sm,
.secondary-text-btn-lg,
.badge-icon-btn-xsm,
.badge-icon-btn-sm,
.badge-icon-btn-md,
.badge-icon-btn-lg,
.badge-icon-btn-xl,
.badge-icon-btn-xxl {
    background: none;
    color: var(--text-light);
}

.primary-btn-sm,
.primary-outline-btn-sm,
.label-icon-btn-sm,
.label-icon-outline-btn-sm,
.primary-text-btn-sm,
.secondary-text-btn-sm,
.secondary-btn-sm,
.disabled-btn-sm{
    font-size: 0.8rem;
    padding: 0.3rem 0.4rem;
}

.primary-btn-xsm,
.primary-outline-btn-xsm,
.label-icon-btn-xsm,
.label-icon-outline-btn-xsm,
.primary-text-btn-xsm,
.secondary-text-btn-xsm,
.secondary-btn-xsm,
.disabled-btn-xsm {
    font-size: 0.6rem;
    padding: 0.2rem 0.3rem;
    border: none;
}

.primary-btn-lg,
.primary-outline-btn-lg,
.label-icon-btn-lg,
.label-icon-outline-btn-lg,
.label-icon-btn-lg,
.primary-text-btn-lg,
.secondary-text-btn-lg,
.secondary-btn-lg,
.disabled-btn-lg{
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
}

.primary-btn-md:hover,
.primary-btn-sm:hover,
.primary-btn-xsm:hover,
.primary-btn-lg:hover,
.label-icon-btn-md:hover,
.label-icon-btn-sm:hover,
.label-icon-btn-xsm:hover,
.label-icon-btn-lg:hover,
.floating-btn-xsm:hover,
.floating-btn-sm:hover,
.floating-btn-md:hover,
.floating-btn-lg:hover,
.floating-btn-xl:hover,
.floating-btn-xxl:hover,
.flating-btn-sm:hover {
    background-color: var(--primary-dark-color);
}

.primary-text-btn-md:hover,
.primary-text-btn-sm:hover,
.primary-text-btn-xsm:hover,
.primary-text-btn-lg:hover,
.icon-btn-xsm:hover,
.icon-btn-sm:hover,
.icon-btn-md:hover,
.icon-btn-lg:hover,
.icon-btn-xl:hover,
.icon-btn-xxl:hover {
    color: var(--primary-dark-color);
}

.primary-outline-btn-md:hover,
.primary-outline-btn-sm:hover,
.primary-outline-btn-xsm:hover,
.primary-outline-btn-md:hover,
.primary-outline-btn-lg:hover,
.label-icon-outline-btn-md:hover,
.label-icon-outline-btn-sm:hover,
.label-icon-outline-btn-xsm:hover,
.label-icon-outline-btn-lg:hover {
    background-color: var(--faint-gray);
    color: var(--primary-dark-color);
    outline: 1px solid var(--primary-dark-color);
}

.secondary-btn-md:hover,
.secondary-btn-xsm:hover,
.secondary-btn-sm:hover,
.secondary-btn-lg:hover,
.secondary-text-btn-md:hover,
.secondary-text-btn-xsm:hover,
.secondary-text-btn-sm:hover,
.secondary-text-btn-lg:hover,
.badge-icon-btn-xsm:hover,
.badge-icon-btn-sm:hover,
.badge-icon-btn-md:hover,
.badge-icon-btn-lg:hover,
.badge-icon-btn-xl:hover,
.badge-icon-btn-xxl:hover,
.secondary-outline-btn-md:hover,
.secondary-outline-btn-xsm:hover,
.secondary-outline-btn-sm:hover,
.secondary-outline-btn-lg:hover {
    color: var(--primary-color);
}

.secondary-outline-btn-md:hover,
.secondary-outline-btn-xsm:hover,
.secondary-outline-btn-sm:hover,
.secondary-outline-btn-lg:hover {
    outline: 1px solid var(--primary-color);
}

/* floating btn */

.floating-btn-xsm,
.floating-btn-sm,
.floating-btn-md,
.floating-btn-lg,
.floating-btn-xl,
.floating-btn-xxl{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 2px 2px 3px var(--text-lighter);
}

.floating-btn-xsm{
    font-size: 0.6rem;
}

.floating-btn-sm{
    font-size: 0.8rem;
}

.floating-btn-md{
    font-size: 1rem;
}

.floating-btn-lg{
    font-size: 1.2rem;
}

.floating-btn-xl{
    font-size: 1.4rem;
}

.floating-btn-xxl{
    font-size: 1.6rem
}

.flating-btn-sm{
    font-size: 0.8rem;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 2px 2px 3px var(--text-lighter);
}

/* icon btn */

.icon-btn-xsm,
.icon-btn-sm,
.icon-btn-md,
.icon-btn-lg,
.icon-btn-xl,
.icon-btn-xxl{   
    background: none;
    border: none;
    color: var(--primary-color);
}

.icon-btn-xsm{
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem;
}

.icon-btn-sm{
    font-size: 1rem;
    padding: 0.3rem 0.4rem;
}

.icon-btn-md{
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
}

.icon-btn-lg{
    font-size: 1.4rem;
    padding: 0.5rem 0.8rem;
}

.icon-btn-xl{
    font-size: 1.6rem;
    padding: 0.5rem 0.8rem;
}

.icon-btn-xxl{
    font-size: 1.8rem;
    padding: 0.5rem 0.8rem;
}

/* secondary icon btn */

.badge-icon-btn-xsm{
    font-size: 0.8rem;
}

.badge-icon-btn-sm{
    font-size: 1rem;
}

.badge-icon-btn-md{
    font-size: 1.2rem;
}
.badge-icon-btn-lg{
    font-size: 1.4rem;
}

.badge-icon-btn-xl{
    font-size: 1.6rem;
}

.badge-icon-btn-xxl{
    font-size: 1.8rem;
}

