@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

@import "./typography/typography.css";
@import "./alerts/alert.css";
@import "./buttons/button.css";
@import "./avatar/avatar.css";
@import "./badge/badge.css";
@import "./image/image.css";
@import "./card/card.css";
@import "./input/input.css";
@import "./modal/modal.css";
@import "./navigation/navbar.css";
@import "./grids/grid.css";
@import "./snackbar/snackbar.css";
@import "./ratings/rating.css";
@import "./list/list.css";

@import "/Documentation/utilities/containers.css";
@import "/Documentation/utilities/margins.css";
@import "/Documentation/utilities/paddings.css";
@import "/Documentation/utilities/flex.css";
@import "/Documentation/utilities/icons.css";
@import "/Documentation/docpage-css/navigation.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-light-color: #93cceb;
    --primary-color: #0f96df;
    --primary-dark-color: #1b6993;
    --primary-bg: #fff;

    --faint-gray: #f1f5f7;
    --light-gray: #e8f0f2;
    --medium-blue-gray: #b2c2d1;
    --dark-blue-gray: #92a9bd;

    --text-white: #fff;
    --text-lighter: #afafaf;
    --text-light: #777;
    --text-dark: #333;
    --text-red-dark: #ca3535;
    --text-red-light: #fea8a8;

    --success-bg: #e8fcf1;
    --success-text: #027e38;
    --info-bg: #e6f7ff;
    --info-text: #0444cc;
    --warning-bg: #fefbe6;
    --warning-text: #956506;
    --error-bg: #fef2f1;
    --error-text: #ca3535;

    --snackbar-bg: #333;
    --rating-star: #ffbc1e;

    --btn-hover: #99999933;
    --nav-btn-hover: rgba(174, 174, 174, 0.1);
    --modal-shadow: rgba(0, 0, 0, 0.239);
    --ham-menu-bg: rgba(19, 19, 19, 0.95);
    --card-shadow-one: var(--text-light);
    --card-shadow-two: rgba(0, 0, 0, 0.24);
}

/* hide all */

.hide {
    display: none;
}