* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --light-theme-background-color: #f2f2f24c;
    --light-theme-primary-color: #282828;
    --dark-theme-background-color: #262626;
    --dark-theme-primary-color: #dadada;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: grid;
    grid-template-areas:
        "nav-header nav-header nav-header"
        "nav body nav-right"
        "... body ...";
    width: 100%;
    margin: auto;
    background-color: var(--primary-bg);
}

/* horizontal nav bar */

.logo {
    color: var(--primary-color);
    margin-left: 1rem;
    font-size: 1.6rem;
}

.nav-header {
    grid-area: nav-header;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    background-color: var(--primary-bg);
    box-shadow: 0 10px 8px -8px var(--btn-hover);
}

.nav-header-mobile {
    display: none;
}

.hamburger {
    grid-area: ham;
    position: sticky;
    top: 0.7rem;
    left: 0.5rem;
    display: none;
}

.nav-header-right-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.nav-header-text {
    color: var(--text-light);
    font-weight: 400;
    margin-right: 1rem;
}

.toggler {
    font-size: 1rem;
    border: none;
    padding: 0.4rem 0.5rem;
    border-radius: 50%;
    color: var(--light-theme-primary-color);
    filter: invert(50deg);
    opacity: 0.8;
    cursor: pointer;
}

body.darkTheme {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-primary-color);
}

/* vertical nav bar */

nav {
    grid-area: nav;
    overflow-y: scroll;
}

nav {
    position: sticky;
    top: 5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 14rem;
    height: 30rem;
    margin-right: 0.6rem;
    margin-left: 1rem;
}

.nav-break-line{
    width: 11rem;
    margin: 0.8rem auto 0.8rem 0.8rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--text-lighter);
}

nav .nav-items {
    display: flex;
    flex-direction: column;
    margin-left: 0.3rem;
}

.nav::-webkit-scrollbar {
    display: none;
}

nav h1,
nav h2 {
    font-size: 1rem;
    font-weight: 400;
}

nav h1,
.nav-items a,
.right-side-nav h1,
.right-side-nav h2 {
    color: var(--text-dark);
    padding: 0.4rem 0.5rem;
    width: 12.5rem;
}

nav h1 {
    padding: 0.4rem 0.5rem;
}

nav h1:hover,
.nav-items a:hover,
.right-side-nav h2:hover {
    color: var(--primary-color);
    border-radius: 4px;
}

nav h1:hover,
.nav-items a:hover {
    background-color: var(--faint-gray);
}

.nav-active {
    color: var(--primary-color);
}

.nav-close-btn {
    display: none;
}

.right-side-nav {
    position: sticky;
    top: 5rem;
    left: 5rem;
    display: flex;
    padding: 0 0 0 2rem;
    flex-direction: column;    
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 12rem;
    height: 20rem;
    grid-area: nav-right;
    overflow: hidden;
}

.right-side-nav h1{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.right-side-nav h2{
    font-size: 0.9rem;
    font-weight: 500;
}

/* body */

.main {
    grid-area: body;
    margin-right: 0;
    margin-left: 0;
   max-width: 100%;
}

/* components */

#alert,
#buttons,
#badge,
#cards,
#avatar,
#input,
#image,
#about,
#color,
#typography,
#comp-overview{
    padding: 1rem;
    margin-bottom: 3rem;
}

/* color */



/* responsive query */

@media screen and (min-width:1620px) {
    .main{
        width: 70rem;
    }
}

@media screen and (min-width:1420px) {
    .main{
        width: 55rem;
    }
}

@media screen and (max-width:700px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-left: 0.5rem;
        font-size: 1.2rem;
    }

    .nav-header-mobile {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        background-color: var(--primary-bg);
        box-shadow: 0 10px 8px -8px var(--btn-hover);
        z-index: 2;
    }

    .nav-header-desktop {
        display: none;
    }

    .nav-header-right-side {
        margin-right: 0.5rem;
        font-size: 1rem;
    }

    .hamburger {
        padding: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
    }

    .hamburger:hover {
        background-color: var(--btn-hover);
        color: var(--primary-color);
    }

    nav {
        position: sticky;
        width: 16rem;
        height: 25rem;
        top: 6rem;
        z-index: 1;
        padding-top: 2rem;
        background-color: var(--ham-menu-bg);
        border-radius: 0 0 20px 0;
        display: none;
    }

    nav .nav-items>a {
        color: var(--light-gray);
    }

    .nav-category {
        font-size: 1rem;
    }

    .nav-close-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 1.2rem;
        color: var(--text-lighter);
        border-radius: 50%;
    }

    .nav-close-btn:hover {
        color: var(--text-dark);
        background-color: var(--light-gray);
    }

    .right-side-nav{
        display: none;
    }
}