@import "./navigation.css";
@import "./component-overview.css";
@import "./color.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --light-theme-background-color: #f2f2f24c;
    --light-theme-primary-color: #282828;
    --dark-theme-background-color: #262626;
    --dark-theme-primary-color: #dadada;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: grid;
    grid-template-areas:
        "nav-header nav-header nav-header"
        "nav body nav-right"
        "... body ...";
    width: 100%;
    margin: auto;
    background-color: var(--primary-bg);
}

body.darkTheme {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-primary-color);
}

/* body */

.main {
    grid-area: body;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
    padding: 0 2rem;
}

li {
    list-style: none;
}

/* components */

#alert,
#buttons,
#badge,
#cards,
#avatar,
#input,
#image,
#about,
#color,
#typography,
#comp-overview {
    padding: 1rem;
    margin-bottom: 3rem;
}

/* typography page */

.typo {
    border: 1px solid var(--medium-blue-gray);
}

.typo h1,
.typo h2,
.typo h3,
.typo h4,
.typo h5,
.typo h6,
.typo p {
    margin: 0.5rem;
}

#typography>h2 {
    font-weight: 500;
    margin: 2rem 0 1rem;
}

#paragraph~p>span {
    font-weight: 500;
    color: var(--primary-color);
}

/* responsive query */

@media screen and (min-width:1480px) {
    .main {
        width: 70rem;
    }
}

@media screen and (min-width:1170px) and (max-width:1480px) {
    .main {
        width: 52rem;
    }
}

@media screen and (min-width:960px) and (max-width:1170px) {
    .main {
        width: 42rem;
    }
}

@media screen and (min-width:560px) and (max-width:960px) {
    .main {
        width: 100%;
    }

    #getting-started {
        width: 30rem;
    }
}

@media screen and (max-width:560px) {
    body {
        display: flex;
        flex-direction: column;
    }
}